@charset "UTF-8";

*{
    /* border: 1px solid black; */
}

:root{
  --font-color: #303030;
  --video-height: 444px;
  --video-width: 790px;
}

figure{
  align-items: center;
  display: flex;
  flex-direction: column;
}

figcaption{
  font-size: 12pt;
  font-weight: 500;
  margin: 10px auto;
  text-align: center;
  width: 70%;
}

header{
  align-items: center;
  box-shadow: inset 0 0 90px rgba(0,0,0,.2);
  color: var(--font-color);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 120px 0;
  width: 100%;
}

#project-title{
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
  width: 55%;
}

#github-link{
  border: 2px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: row;
  margin-top: 25px;
  padding: 10px 25px;
}

#github-link a{
  align-items: center;
  color: white;
  display: flex;
  font-weight: 100;
  text-decoration: none;
}

#github-link img{
  padding-right: 15px;
  width: 30px;
}

#skills-concepts-container{
  width: 45%;
}

#skills-concepts-content{
  box-sizing: border-box;
  float: right;
  background-color: white;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
  opacity: .85;
  padding: 30px 50px 30px 0;
}

#skills-concepts-content p{
  font-size: 18pt;
  text-align: center;
}

#skills-concepts{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
}

#skills, #concepts{
  font-size: 14pt;
  font-weight: 300;
  width: 40%;
}

#skills li, #concepts li{
  list-style-type: circle;
  padding: 5px;
}

#peep{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery{
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  top: -40px;
}

.header-video{
  border: none;
  height: var(--video-height);
  padding-bottom: 20px;
  width: var(--video-width);
}

#pics{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

#small-thumb{
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
}

#large-thumb{
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
}

#small-thumb img{
  box-sizing: border-box;
  height: 150px;
  margin: 5px;
  object-fit: cover;
  width: 150px;
}

#large-thumb img{
  box-sizing: border-box;
  height: 310px;
  margin: 5px;
  object-fit: cover;
  width: 310px;
}

#description{
  margin: 0 auto;
  min-width: 500px;
  padding: 80px 0;
  width: 50%;
}

.proj-img{
  margin: 0 5%;
  width: 90%;
}

.info-box{
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  font-size: 16pt;
  margin: 50px auto;
  padding: 25px;
  width: 70%;
}

.info-box h4{
  text-align: center;
}

.info-box img{
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.info-box li{
  list-style-type: circle;
}

.info-box-table{
  table-layout: fixed;
  text-align: center;
  width: 90%;
}

.info-box-table th{
  font-size: 30pt;
}

dl dd{
  font-weight: 100;
}
