#about {
    align-items: center;
    display: flex;
    justify-content: center;
}

#about-details {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: -15px 15px rgba(0,0,0,0.5);
    padding: 10px;
}

#about-img {
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
}

#about-text {
    box-sizing: border-box;
    margin-left: 20px;
    padding: 30px;
    width: 40%;
}

.education {
    margin: 10px 0;
    padding: 0 20px;
}

.degree {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 12pt;
}

.school {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 9pt;
}