#about {
    margin-bottom: 90px;
}

#about-contents {
    align-items: center;
    display: flex;
    justify-content: center;
}

#about-details {
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: -15px 15px var(--accent-2);
    padding: 10px;
    transition: box-shadow .3s;
}

#about-details:hover {
    box-shadow: -20px 20px var(--accent-2);
    transition: box-shadow .3s;
}

#about-img {
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
}

#about-text {
    box-sizing: border-box;
    margin-left: 20px;
    padding: 30px;
    min-width: 350px;
    width: 50%;
}

.education {
    margin: 10px 0;
    padding: 0 20px;
}

.degree {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 12pt;
}

.school {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 9pt;
}