body {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

nav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 25px 30px;
    width: 100%;
}

nav a {
    align-items: center;
    display: flex;
}

nav svg {
    fill: white;
    height: 25px;
}

#logo {
    height: 60px;
}

#article-panel {
    background-color: var(--accent-1);
    box-shadow: 2px 0 7px rgba(0,0,0,0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    min-width: 400px;
    width: 30%;
}

#panel-contents {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    margin: 50px 0;
}

#article-title {
    color: white;
    padding: 0 30px;
}

#video {
    height: 197px;
    margin: 0 auto;
    width: 350px;
}

#keywords {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    padding: 0 25px;
    width: 100%;
}

.keyword {
    border: 1px solid white;
    color: white;
}

.keyword:hover {
    background-color: white;
    color: var(--accent-1);
}

section {
    margin: 40px 0;
}

main {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 80px 0;
}

#summary {
    border: 1px solid var(--accent-1);
    box-shadow: 15px -15px var(--accent-1);
    padding: 25px;
    width: 60%;
}

#writeup {
    margin: 50px 0;
    width: 80%;
}