#experience {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#timeline {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    position: relative;
    width: 45%;
}

#line {
    border: 1px solid grey;
    border-top-width: 0;
    box-sizing: border-box;
    height: 0px;
    position: absolute;
    width: 100%;
}

.job {
    background-color: white;
    border: 1px solid grey;
    border-radius: 40px;
    box-sizing: border-box;
    height: 65px;
    padding: 5px;
    width: 65px;
    z-index: 1;
}

#job-window {
    border: 1px solid grey;
    box-shadow: 10px 10px grey;
    min-height: 300px;
    padding: 40px;
    width: 50%;
}

#job-text {
    transition: opacity .3s;
}

#job-title a {
    color: black;
    text-decoration: none;
}

.job-details {
    align-items: center;
    display: flex;
    margin: 5px;
}

.job-details img {
    margin-right: 10px;
    width: 15px;
}

#job-description {
    list-style-image: url('/v6/img/arrow_128.svg');
    margin-top: 30px;
    padding: 0 50px;
}

#job-description li:not(:first-child) {
    margin-top: 10px;
}

.job-active {
    border: 2px solid grey;
}