footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footer-break {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 96%;
}

#scissors {
    margin-right: 5px;
    width: 40px;
}

#break-line {
    border-top: 2px dashed black;
    flex-grow: 1;
}

#footer-contents {
    height: 110px;
    position: relative;
}

.footer-img {
    width: 25px;
}

#footer-links {
    bottom: 0;
    left: 70px;
    position: absolute;
}

#dev-icons {
    bottom: 0;
    position: absolute;
    right: 70px;
}

.footer-item {
    align-items: center;
    display: flex;
}