* {
    /* border: 1px solid grey; */
}

:root {
    --accent-1: rgb(103, 80, 179);
    --accent-2: rgb(80, 179, 154);
    --accent-3: rgb(80, 179, 111);
    --accent-4: rgb(80, 131, 179);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 80%;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Hepta Slab', serif;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.section-header {
    display: flex;
    height: 30vh;
    justify-content: center;
    width: 100%;
}

.section-header svg {
    position: relative;
    height: 50px;
    width: 50px;
}

.keyword {
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 8pt;
    margin: 3px;
    padding: 6px;
    transition: background-color .9s, color .9s, border .3s;
}

.keyword:hover {
    border: 1px solid var(--accent-1);
    background-color: var(--accent-1);
    color: white;
    transition: background-color .3s, color .3s, border .3s;
}

.icon {
    opacity: 0.6;
    transition: opacity .3s;
}

.icon:hover {
    opacity: 1;
    transition: opacity .3s;
}

svg, object {
    fill: red;
}