#landing {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
}

#logo {
    box-sizing: border-box;
    width: 80px;
    padding: 5px;
}

#links {
    align-items: center;
    display: flex;
}

.landing-link {
    height: 35px;
    width: 35px;
}