#landing {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: space-between;
    padding: 80px;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
}

#logo {
    box-sizing: border-box;
    width: 80px;
    padding: 5px;
}

#links {
    align-items: center;
    display: flex;
    margin-left: 30px;
}

.landing-link {
    height: 30px;
    margin: 0 5px;
    width: 30px;
}