#projects {
    width: 100%;
}

#tiles {
    display: flex;
}

#highlights {
    display: flex;
    justify-content: center;
}

#accordion {
    display: flex;
    height: 300px;
    justify-content: center;
    min-width: 900px;
    width: 60vw;
}

.proj-panel {
    box-shadow: -10px 0 20px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    width: 20px;
    transform: skewX(-5deg);
    transition: flex-grow .4s;
}

.proj-panel:hover {
    flex-grow: 1.05;
}

.panel-contents {
    height: 100%;
    width: 100%;
    position: relative;
}

.panel-title {
    bottom: 0;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    width: 300px;
}

.panel-details {
    height: 100%;
    left: 40px;
    width: 500px;
    position: absolute;
    transform: skewX(5deg);
}

.panel-link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
}

#more-proj {
    text-align: center;
}

#grid {
    display: none;
    align-items: flex-start;
    justify-content: center;
    transition: display .3s;
}

.grid-tile {
    box-sizing: border-box;
    height: 200px;
    margin: 5px;
    padding: 10px;
    width: 300px;
}