#projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tiles {
    display: flex;
}

#highlights {
    display: flex;
    justify-content: center;
}

#accordion {
    display: flex;
    height: 300px;
    justify-content: center;
    min-width: 900px;
    width: 60vw;
}

.proj-panel {
    box-shadow: -10px 0 20px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    width: 20px;
    transform: skewX(-5deg);
    transition: flex-grow .3s, height .4s;
}

.proj-panel:hover {
    height: 310px;
    transition: flex-grow .3s, height .2s;
}

.panel-contents {
    height: 100%;
    width: 100%;
    position: relative;
}

.panel-title {
    bottom: 0;
    padding: 8px 0;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    width: 300px;
}

.panel-details {
    box-sizing: border-box;
    height: 100%;
    left: 40px;
    width: 500px;
    padding: 40px;
    position: absolute;
    transform: skewX(5deg);
}

.panel-link {
    bottom: 0;
    margin: 20px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100px;
}

#more-proj {
    box-sizing: border-box;
    margin: 40px;
    padding: 10px;
    text-align: center;
}

#grid {
    align-items: flex-start;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 400px;
    transition: display .3s;
    width: 80%;
}

.grid-tile {
    border: 1px solid grey;
    box-sizing: border-box;
    height: 200px;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 300px;
}

.grid-link {
    bottom: 10px;
    position: absolute;
}