#skills {
    margin-bottom: 50vh;
    position: relative;
}

#skill-boxes {
    align-items: center;
    display: flex;
}

.skill-box {
    align-items: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 30px;
    padding: 25px 0;
    position: relative;
    transition: box-shadow .3s;
    width: 225px;
}

.box-header {
    margin: 0 0 30px 0;
}

.box-header svg {
    height: 50px;
    width: 50px;
}

.box-title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 12pt;
    text-align: center;
}

.skillset {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 85%;
}

#code-skills {
    box-shadow: -15px 15px var(--accent-2);
}

#code-skills:hover {
    box-shadow: -20px 20px var(--accent-2);
    transition: box-shadow .3s;
}

#code-skills .keyword:hover {
    border: 1px solid var(--accent-2);
    background-color: var(--accent-2);
}

#concepts-skills {
    box-shadow: 0 15px var(--accent-3);
}

#concepts-skills:hover {
    box-shadow: 0 20px var(--accent-3);
    transition: box-shadow .3s;
}

#concepts-skills .keyword:hover {
    border: 1px solid var(--accent-3);
    background-color: var(--accent-3);
}

#tools-skills {
    box-shadow: 15px 15px var(--accent-4);
}

#tools-skills:hover {
    box-shadow: 20px 20px var(--accent-4);
    transition: box-shadow .3s;
}

#tools-skills .keyword:hover {
    border: 1px solid var(--accent-4);
    background-color: var(--accent-4);
}