@charset "UTF-8";

*{
  /* border: 1px solid black; */
}

.proj-title{
  color: white;
  opacity: .8;
}

.proj-title h1{
  padding: 20px 0 0 70px;
}

.summary{
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.peep{
  position: absolute;
  width: 200px;
  bottom: 0;
  right: 0;
}

.proj-video{
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 55px;
  width: 815px;
}

iframe{
  width: 815px;
  height: 458px;
  border: none;
}

.skills-list{
  box-sizing: border-box;
  border-left: 1px solid white;
  float: right;
  opacity: .7;
  width: 20%;
  padding: 0 0 20px 35px;
}

.skill{
  color: white;
  font-size: 17pt;
  font-weight: 100;
  line-height: 140%;
  padding-left: 20px;
}

.info-container{
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.info-container h5{
  border-top: 1px solid black;
  text-align: justify;
  text-align-last: center;
  padding: 50px 0 30px 0;
  width: 70%;
}

.info{
  border-top: 1px solid black;
  margin: 0 25%;
  padding: 70px 0;
  text-align: justify;
}

.info p{
  margin-bottom: 60px;
}

.info h3{
  color: #383838;
  text-align: left;
  width: 65%;
  margin: 0 auto;
  padding: 25px 0 50px 0;
}

.info h4{
  padding-bottom: 20px;
}

.info img{
  width: 100%;
}

.info-box{
  font-weight: 100;
  font-size: 13pt;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  background: linear-gradient(to bottom right, var(--gradient1), var(--gradient2));
  color: white;
  margin: 30px 0 60px 10%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--corner);
}

.info-box h2{
  font-size: 17pt;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}

.info-box table{
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.info-box img{
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.info-box th{
  font-size: 30pt;
  font-weight: 400;
}

.info-box tr{
  vertical-align: top;
}

.info-box ol{
  text-align: left;
  padding-right: 20px;
}

.info-box a{
  text-decoration: none;
  color: white;
}
